body {
  font-family: Helvetica;
  padding: 2em;
  background-color: whitesmoke;
}

h1 {
  font-size: 2.5em;
}

.skillset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.resources-one {
  background-color: #A7D2CB;
}

.resources-two {
  background-color: #F2D388;
}

.resources-three {
  background-color: #C98474;
}
.resources-four {
  background-color: #874C62;
}

.resources-one,
.resources-two,
.resources-three,
.resources-four {
  width: 100%;
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  color: whitesmoke;
}

.resources-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}

 ul {
  list-style: none;
  padding: 0;
}

.resources {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}
