.social {
	text-decoration: none;
}
input{
	border: 0;
	padding: 10px;
	margin: 10px 0px 0px 0px;
	font-size: 18px;
}
input[type="submit"] {
	background: orange;
	color: white;
}

footer a. {
	text-decoration: none;
	}
	
footer {
	text-align: center;
	background-size: cover;
	background-position: center;
	color: white;
}
.listheader li {
	display: inline-block;
	padding: 0px 10px 0px 10px;
}
