.social {
	text-decoration: none;
}

article {
	width: max-width: 500px;
	padding: 20px;
	margin: 0 auto;
}

a{
	color: white;
	text-decoration: none;
}

h1 {
	font-size: 50px;
}
		
body {
	text-align: center;
	font-family: Helvetica;
}
		
p {
	font-size: 22px;
}

input{
	border: 0;
	padding: 10px;
	margin: 10px 0px 0px 0px;
	font-size: 18px;
}
input[type="submit"] {
	background: orange;
	color: white;
}

footer a. {
	text-decoration: none;
	}
	
footer {
	text-align: center;
	background-size: cover;
	background-position: center;
	color: white;
}
