<header class="site-header">
      
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
  
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <ul class="nav-ul">
            <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
            <li><a class="page-link" href="/posts">Posts</a></li>
            </ul>
      </div>
    </nav>

  </div>

</header>
